.btn_primary {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	cursor: pointer;
	font-size: var(--font-size-body-sm);
	font-weight: var(--font-weight-medium);
	transition: all 0.2s ease-in-out;
	border: none;
}

.btn_primary:hover {
	opacity: 0.3;
}

.btn_shadow_soft {
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.btn_shadow_strong {
	box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
}
