* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--bg-body);
	font-family: var(--font-family-roboto);
	transition: background-color 0.7s ease-in-out;
}

.darkTheme {
	background-color: var(--bg-body);
}

.app_container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100dvh;
}

.app_title {
	font-size: var(--font-size-h3);
	font-weight: var(--font-weight-bold);
	color: var(--text-base);
}
